// GENERAL STYLES FOR THIS PAGE

h2,
a {
  color: map-get($map: $mycolors, $key: primary-blue);
}

p {
  color: map-get($map: $mycolors, $key: grayish-blue);
  line-height: 1.5;
}

body {
  background: map-get($map: $mycolors, $key: very-light-gray);
  height: auto;
}

.invite-btn {
  display: block;
  background: map-get($map: $mycolors, $key: my-gradient);
  color: map-get($map: $mycolors, $key: white);
  margin: 0 auto;
  padding: 1.2rem 3rem;
  border-radius: 3rem;
  font-size: map-get($p-font-sizes, null) * 0.9;
}

// HEADER SECTION

header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.mobile-nav {
  background: map-get($mycolors, white);
  @include flex(row, space-between, center);

  height: 10vh;
  padding: 0 10%;
  z-index: 1;
}

.logo {
  img {
    display: block;
    object-fit: cover;
    height: 100%;
  }
}

.burgher {
  width: 3rem;
  height: 1.5rem;
  @include flex(column, space-between, center);
  cursor: pointer;
  position: relative;

  span {
    background: map-get($map: $mycolors, $key: grayish-blue);
    width: 100%;
    height: 20%;
    border-radius: 0.2rem;
    transition: all 0.3s;
  }
}

.nav-bar {
  border-radius: 1rem;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -30vh);
  width: 80%;
  background: map-get($map: $mycolors, $key: white);
  transition: transform 0.4s 0.1s ease-in-out;
  box-shadow: 0 0rem 15rem 5rem rgba(10, 15, 31, 0.726);
  z-index: -1;
}

.nav-links {
  padding: 2rem 0;
  li {
    padding: 1rem 0;
    text-align: center;
  }
}

.invite-btn-header {
  display: none;
}

// LANDING SECTION

.landing {
  position: relative;
  background: map-get($map: $mycolors, $key: very-light-gray);
  @include flex(column, center, center);
  margin-bottom: 7rem;

  &-container {
    width: 90%;
    margin: 0 auto;
  }

  &-title {
    text-align: center;
  }

  &-descr {
    text-align: center;
    margin: 2rem;
  }
}

.bg-mobile {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.phones {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -29%);
  width: 90%;
  max-width: 35rem;
}

.invite-btn-landing {
  margin-top: 3rem;
}

// SERVICES SECTION

.services {
  background: map-get($map: $mycolors, $key: light-grayish-blue);
  text-align: center;

  &-head {
    padding: 2rem 2.7rem;
    padding-top: 7rem;
  }

  &-title {
    font-weight: 500;
    opacity: 0.8;
  }

  &-descr {
    margin: 2rem 0;
  }
}

.service {
  padding: 2.5rem;

  &-logo {
    width: 20%;
  }

  &-title {
    margin: 2rem 0;
    font-weight: 500;
    opacity: 0.8;
  }
}

.articles {
  padding-top: 5rem;
  background: map-get($map: $mycolors, $key: very-light-gray);

  &-title {
    text-align: center;
    margin: 3rem;
  }
}

.article {
  background: map-get($map: $mycolors, $key: white);
  width: 90%;
  margin: 2rem auto;
  border-radius: 1rem;
  overflow: hidden;

  &-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  &-header,
  &-content {
    width: 80%;
    margin: 0 auto;
  }

  &-header {
    margin-top: 3rem;
    padding: 0;
  }

  &-title {
    font-size: 1.6rem;
    margin: 1rem 0;
  }

  &-descr {
    line-height: 1.3;
    margin-bottom: 3.5rem;
  }
}

// FOOTER

footer {
  background: map-get($map: $mycolors, $key: primary-blue);
}

.footer-logo {
  img {
    display: block;
    margin: 0 auto;
    padding: 3rem 0;
  }
}

.social-icons {
  @include flex(row, space-between, center);
  width: 50%;
  margin: 0 auto;
}

.footer-links {
  @include flex(column, center, center);
  margin: 1rem 0;

  li {
    margin: 1rem 0;
  }

  a {
    color: white;
  }
}

.footer-btn {
  margin: 2rem auto;
}

.footer-copy {
  text-align: center;
  padding-bottom: 3rem;
}

// ATRIBUTION
.attribution {
  background: map-get($map: $mycolors, $key: primary-blue);
  font-size: 11px;
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}
.attribution a {
  color: white;
  text-decoration: underline;
}
