// Font Maps

$p-font-sizes: (
  null: 1.4rem,
  480px: 1.6rem,
  640px: 1.7rem,
  1024px: 1.5rem,
);

$h1-font-sizes: (
  null: 3rem,
  480px: 3.7rem,
  640px: 4rem,
  1024px: 4.5rem,
);

$h2-font-sizes: (
  null: 3.5rem,
  480px: 3.3rem,
  640px: 3.6rem,
  1024px: 5rem,
);

$h3-font-sizes: (
  null: 3rem,
  480px: 3.3rem,
  640px: 3.6rem,
  1024px: 3.6rem,
);

$h4-font-sizes: (
  null: 2rem,
  480px: 3.3rem,
  640px: 3.6rem,
  1024px: 4rem,
);

// Mixins

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    } @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: $myfont;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
  letter-spacing: 0.01rem;
  font-weight: 500;
}

p,
input,
button,
li {
  @include font-size($p-font-sizes);
}

caption {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font-family: $myfont;
}
