* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Public Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 3.7rem;
  }
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 3.5rem;
}

@media screen and (min-width: 480px) {
  h2 {
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 640px) {
  h2 {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-size: 3rem;
}

@media screen and (min-width: 480px) {
  h3 {
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 640px) {
  h3 {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 3.6rem;
  }
}

h4 {
  font-size: 2rem;
  letter-spacing: 0.01rem;
  font-weight: 500;
}

@media screen and (min-width: 480px) {
  h4 {
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 640px) {
  h4 {
    font-size: 3.6rem;
  }
}

@media screen and (min-width: 1024px) {
  h4 {
    font-size: 4rem;
  }
}

p,
input,
button,
li {
  font-size: 1.4rem;
}

@media screen and (min-width: 480px) {
  p,
  input,
  button,
  li {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 640px) {
  p,
  input,
  button,
  li {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1024px) {
  p,
  input,
  button,
  li {
    font-size: 1.5rem;
  }
}

caption {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font-family: "Public Sans", sans-serif;
}

h2,
a {
  color: #2c304d;
}

p {
  color: #9698a6;
  line-height: 1.5;
}

body {
  background: #fafafa;
  height: auto;
}

.invite-btn {
  display: block;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  margin: 0 auto;
  padding: 1.2rem 3rem;
  border-radius: 3rem;
  font-size: 1.26rem;
}

.main-header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.mobile-nav {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  max-height: 7rem;
  padding: 0 10%;
  z-index: 1;
}

.logo img {
  display: block;
  object-fit: cover;
  height: 100%;
}

.burgher {
  width: 3rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.burgher span {
  background: #9698a6;
  width: 100%;
  height: 20%;
  border-radius: 0.2rem;
  transition: all 0.3s;
}

.nav-bar {
  border-radius: 1rem;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50vh);
  width: 80%;
  background: white;
  transition: transform 0.4s 0.1s ease-in-out;
  box-shadow: 0 0rem 15rem 5rem rgba(10, 15, 31, 0.726);
  z-index: -1;
}

.nav-links {
  padding: 2rem 0;
}

.nav-links li {
  padding: 1rem 0;
  text-align: center;
}

.invite-btn-header {
  display: none;
}

.landing {
  background: url(../assets/img/bg-intro-mobile.svg);
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.landing-container {
  height: 45%;
  width: 90%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  text-align: center;
}

.landing-descr {
  text-align: center;
  margin: 1rem;
}

.phones-container {
  flex: 1;
}

.phones {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 90%;
  max-width: 35rem;
}

.invite-btn-landing {
  margin-top: 3rem;
}

.services {
  background: #f3f4f6;
  text-align: center;
}

.services-head {
  width: 80%;
  margin: 0 auto;
  padding-top: 7rem;
}

.services-items {
  width: 80%;
  margin: 0 auto;
  max-width: 144rem;
}

.services-title {
  font-weight: 500;
  opacity: 0.8;
}

.services-descr {
  margin: 2rem 0;
}

.service {
  padding: 2.5rem;
}

.service-logo {
  width: 4;
}

.service-title {
  margin: 2rem 0;
  font-weight: 500;
  opacity: 0.8;
}

.articles {
  background: #fafafa;
}

.articles-title {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
}

.articles-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  background: white;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.article-image {
  width: 100%;
  height: 50%;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-content {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 1rem;
  margin: 2rem 0;
}

.article-header {
  width: 100%;
  display: block;
  text-align: left;
}

.article-title {
  font-size: 1.6rem;
}

footer {
  background: #2c304d;
}

.footer-logo img {
  display: block;
  margin: 0 auto;
  padding: 3rem 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: 38rem;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.footer-links li {
  margin: 1rem 0;
}

.footer-links a {
  color: white;
}

.footer-btn {
  margin: 2rem auto;
}

.footer-copy {
  text-align: center;
  padding-bottom: 3rem;
}

.attribution {
  background: #2c304d;
  font-size: 11px;
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}

.attribution a {
  color: white;
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  .landing {
    overflow: hidden;
    background: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: initial;
    height: 80vh;
    margin-bottom: 0;
  }
  .landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    height: 100%;
    margin: 0;
    padding-top: 6rem;
    margin-left: 10%;
    flex: 1;
  }
  .landing-title, .landing-descr {
    text-align: left;
  }
  .landing-descr {
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  .landing .invite-btn-landing {
    margin: 0;
    width: 20rem;
    font-size: 1.8rem;
  }
  .phones-container {
    width: 50%;
    display: grid;
    place-items: center;
    background: url("../assets/img/bg-intro-desktop.svg");
  }
  .phones {
    position: initial;
    transform: translate(50%, 0%) scale(2);
    object-fit: cover;
    z-index: 99;
  }
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-head {
    text-align: left;
  }
  .services-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .service {
    text-align: left;
    flex: 1 1 20rem;
  }
  .service-title {
    font-size: 3rem;
  }
  .service-descr {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  .articles {
    margin-bottom: 3rem;
  }
  .articles-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
    flex-wrap: wrap;
  }
  .articles .article {
    min-height: 50rem;
    flex: 0 1 25rem;
  }
}

@media screen and (min-width: 800px) {
  .landing-descr {
    font-size: 2rem;
  }
  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background: white;
  }
  .mobile-nav {
    background: none;
    padding: 0;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-links li {
    padding: 1rem;
  }
  .invite-btn-header {
    display: initial;
    margin: 0;
  }
  .burgher {
    display: none;
  }
  .nav-bar {
    position: initial;
    top: initial;
    right: initial;
    width: auto;
    border-radius: 0;
    background: none;
    box-shadow: none;
    transform: translate(0, 0);
  }
}

.move-navBar {
  transform: translate(50%, 13vh);
}

.burgher-anim-top {
  transform: translate(0, 200%) rotateZ(45deg);
}

.move-left {
  transform: translate(-100%, 0);
  pointer-events: none;
  opacity: 0;
}

.burgher-anim-bottom {
  transform: translate(0, -200%) rotateZ(-45deg);
}
/*# sourceMappingURL=style.css.map */